/*# ADMIN CSS */
body h1{
	margin-top:50px;
}
.error{
	color:white;
	background-color:#ff0000;
	position:absolute;
	top:0;
	left:0;
	width:100vw;
	padding:10px 10px;
}
.success{
	color:white;
	background-color:#339933;
	position:absolute;
	top:0;
	left:0;
	width:100vw;
	padding:10px 10px;
}
.addForm{
	padding:20px 20px;
	margin:50px 30% 10% 30%;
}